<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mapper.PasswordMapper">

	<resultMap id="passwordResultMap" type="com.example.domain.Password">
		<id property="passwordId" column="password_id" />
		<result property="mailAddress" column="mail_address" />
		<result property="password" column="password" />
		<result property="registerDate" column="register_date" />
	</resultMap>
	

	<insert id="registerPassword">
		INSERT INTO passwords
		(mail_address,password,register_date)
		VALUES(#{mailAddress},#{password},#{registerDate})
	</insert>
	<select id="load" resultMap="passwordResultMap">
		SELECT password_id,mail_address,password,register_date from passwords  WHERE mail_address = #{mailAddress}
	</select>
</mapper>