<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.mapper.RecordingMapper">

	<insert id="registerRecording">
		INSERT INTO recordings(user_id, date, title,
		content,member,remarks,status_id,update_date,version)
		VALUES(#{userId}, #{date}, #{title}, #{content},
		#{member},#{remarks},#{statusId},#{updateDate},#{version});
	</insert>

</mapper>